.bjj-nav {
    padding-left: 20px;
    padding-right: 20px;
}

.mt-80 {
    margin-top: 80px;
}

.bjj-nav-links {
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    font-size: 30px;
    display: inline;
}

.bjj-nav-links:hover {
    border-top: 5px solid red;
    cursor: pointer;
}

.bjj-logo {
    width: 200px;
    padding-top: 14px;
}

.bjj-nav-ul {
    display: inline;
    position: relative;
}

.bjj-slider {
    width: 100%;
}

.r-text {
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;

}

.flip {
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.quote {
    font-size: 40px;
    color: red;
}

.mt-r-text {
    margin-top: 45px;
}

.mt-belt {
    margin-top: 65px;
}

.belt {
    width: 200px;
    padding-left: 20px;
    display: inline;
}

.slider-bg {
    background-image: url(../images/slider1.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}