.bjj-nav {
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
    position: absolute;
    top:0px;
    box-shadow: none;
    -webkit-box-shadow:none;
}

.bjj-logo {
    width: 100px;
    padding-top: 14px;
    padding-left: 10px;
}

.bjj-wrapper > ul > li > a {
    color: white;
    font-weight: bold;
    font-family:sans-serif;
}

.bjj-wrapper > ul > li > a:hover {
    border-top: 5px solid red;
}

.bjj-parallex {
    height: 100vh;
}

.flip {
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.quote {
    font-size: 40px;
    color: white;
}

.author {
    background-color: red;
    display: table;
    padding-left: 5px;
    padding-right: 5px;
}

.quote > i{
    color: red;
    font-size: 30px;
}

.respect-text{
    background-color: black;
    color: white;
    opacity: 0.8;
    position: absolute;
    top: 200px;
    left: 20px;
    padding: 20px 20px 25px 20px;
}

.respect-text > span {
    font-size: 30px;
}

@media screen and (max-width:991px) {
    
    .respect-text > span, .respect-text > span > i {
        font-size: 15px;
    }

    .bjj-logo {
        width: 150px;
    }
    
}

@media screen and (max-width:600px) {
    
    .respect-text > span, .respect-text > span > i {
        font-size: 15px;
    }

    .respect-text {
        width: 100%;
        left: 0px;
    }
    
}